* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}
/* commont */
.container {
    width: 1170px;
    max-width: (100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
:root {
    --color-primary-item: #656689;
    --color-primary-title: #000958;
    --color-primary-desc: #5e6085;
}
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: var(--height);
    min-width: 130px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid;
    border-color: rgba(0, 9, 88, 0.4);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-primary-title);
}
.btn {
    opacity: 0.9;
}
.section-heading {
    color: var(--color-primary-title);
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.section-desc {
    color: var(--color-primary-item);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
/* header */
header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
}

.navbar__link {
    color: var(--color-primary-desc);
    padding: 18px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-heightt: 1; /* 100% */
}
.navbar__item:hover .navbar__link {
    color: var(--color-primary-title);
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    min-width: 118px;
    --height: 56px;
    display: inline-block;
    line-height: var(--height);
    height: var(--height);
    border-radius: 99px;
    text-align: center;
    color: var(--color-primary-title);
    font-size: 1.4rem;
    font-weight: 600;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__media {
    position: relative;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    /* position: absolute; */
    bottom: -62px;
}
.hero__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #fe997b;

    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    top: 16px;
    right: -40px;
}

.hero__img-wrap-small {
    background: #faa7ad;
    position: absolute;
    width: 186px;
    height: 244px;
    border: 2px solid #e8c0c3;
    border-radius: 16px;
    bottom: -58px;
    right: -163px;
}

.hero-list-item {
    display: flex;
}
.hero__list {
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
    position: absolute;
    bottom: -94px;
    left: 129px;
    z-index: 10;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}
.hero-list-item__info {
    margin-left: 10px;
}
.hero-list-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero-list-item__skeleton {
    border-radius: 10px;
    margin-top: 7px;
    opacity: 0.08;
    background: #000958;
    width: var(--width, 118px);
    height: 4px;
}
.hero__line {
    display: block;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
    border-radius: 99px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #6597c2;
    box-shadow: 0px 4px 21px 0px #6597c2;
}
.hero__content {
    margin-left: 282px;
}
.hero__heading {
    color: var(--color-primary-title);
    font-family: Sora, sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
    max-width: 517px;
}
.hero__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    max-width: 391px;
}
.hero__row {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.hero__row .btn {
    min-width: 189px;
    border-radius: 31px;
    background: #ff5b2e;
    color: #fff;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #ff5b2e;
}

.hero__cta {
    color: var(--color-primary-title);
    font-size: 1.6rems;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 255px;
}
.about__inner {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    row-gap: 131px;
    justify-content: space-between;
}

.about__media {
    display: flex;
    position: relative;
}
.about__label {
    color: var(--color-primary-desc);
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 15px;
}

.about__heading {
    max-width: 446px;
    margin-bottom: 24px;
}
.about__desc {
    max-width: 431px;
}
.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
}
.about__check-item {
    display: flex;
    align-items: center;
    position: relative;
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    margin-right: 10px;
}
.about__check-item::after {
    content: url(../icons/checked.svg);
    position: absolute;
    left: 5px;
}

.about__cart {
    text-align: center;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 30px 26px;
    position: absolute;
    width: 136px;
    height: 156px;
    top: 165px;
    left: 0;
}
.about__cart-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__cart-desc {
    color: #c6f4f9;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about__cart-decor {
    position: absolute;
    top: -39px;
    right: -35px;
}
.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}
.about__img-wrap::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}
.about__img {
    width: 450px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__img-wrap-bottom {
    width: 458px;
    border-radius: 18px;
    background: #bfdff7;
    margin-left: 0;
}

.about__img-wrap-bottom::before {
    content: none;
}
.about__img-bottom {
    width: 100%;
}
.about__decor-img {
    position: absolute;
}
.about__decor-img:nth-child(1) {
    top: 12px;
    right: 80px;
}
.about__decor-img:nth-child(2) {
    top: -18px;
    right: 23px;
}
.about__decor-img:nth-child(3) {
    top: 34px;
    right: -30px;
}
.about__decor-img:nth-child(4) {
    bottom: 190px;
    right: 51px;
}
.about__decor-img:nth-child(5) {
    bottom: 230px;
    right: -38px;
}
.about__decor-img:nth-child(6) {
    bottom: -39px;
    right: -38px;
}
.about__decor-img:nth-child(7) {
    bottom: -48px;
    right: -50px;
}
.about__decor-img:nth-child(8) {
    bottom: -54px;
    right: -57px;
}
.about__content-bottom {
    margin-left: auto;
}
.about__heading-bottom {
    max-width: 543px;
}
.about__desc-bottom {
    max-width: 511px;
    margin-top: 24px;
}

.tab__list {
    margin-top: 52px;
    display: flex;
    column-gap: 56px;
    position: relative;
}

.tab__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.tab__list::after,
.tab__item--active::after {
    display: block;
    content: "";
    opacity: 0.07;
    background: #ff5b2e;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
}
.tab__item--active::after {
    background: #ff5b2e;
    opacity: 1;
    width: 95px;
}
.tab__item::hover {
}
.tab__img {
    margin-right: 10px;
}
.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content-item {
    padding-top: 36px;
    display: none;
}
.tab__content-item--active {
    display: block;
}
.tab__content-desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.tab__content-more {
    display: block;
    padding-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
.tab__content-more::after {
    margin-top: 5px;
    content: "";
    display: block;
    border-radius: 2px;
    width: 86px;
    height: 2px;
    background-color: #ff5d31;
}

/* Service */
.service {
    margin-top: 130px;
    padding: 68px 0 100px 0;
}
.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 65px;
    margin-top: 71px;
}
.service__top {
    text-align: center;
}
.service__desc {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}
.service-item + .service-item {
    margin-top: 24px;
}

.service-item {
    width: 294px;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 28px;
}
.service-item__heading {
    position: relative;
    cursor: pointer;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    padding-left: 12px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 18px;
}
.service-item__heading::before {
    top: 0;
    bottom: 0;
    left: -12px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 2px;
    inset: 0 auto 0 0;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 2px;
}
.service-item__desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    max-width: 244px;
}
.service-item__more {
    display: inline-flex;
    align-items: center;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    margin-top: 24px;
}
.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin-left: 5px;
}
.service__media {
    height: 650px;
    width: 447px;
    position: relative;
}
.service__media::after {
    content: "";
    display: block;
    left: 16px;
    right: 16px;
    position: absolute;
    height: 350px;
    border-radius: 10px;
    bottom: 0;
    background: #79d5e0;
}
.service__img {
    height: 100%;
    z-index: 1;
    width: 100%;
    position: relative;
}
.service__column:nth-child(2) {
    margin: 0 auto;
}
.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    border-color: #ff5b2e;
}

/* Staff */
.staff {
    margin-top: 130px;
    background: #fffaf5;
}
.staff__top {
    text-align: center;
}
.staff__heading {
    margin-top: 15px;
}
.staff__desc {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    align-items: center;
}
.staff-item {
    text-align: center;
}
.staff-item__img-wrap {
    margin: 0 16px;
    position: relative;
    border-radius: 130px;
}
.staff-item__img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}
.staff-item__img-wrap::before {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
    /* bottom: initial; /* Hủy bỏ bottom :0;*/
    /* top: 7px; */
    background-position: 0 16px;
}
.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 100%;
    width: calc(100% + 36px);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item__title {
    margin-top: 29px;
    color: var(--color-primary-item);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}
.staff-item__name {
    margin-top: 14px;
    color: var(--color-primary-title);
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__btn {
    min-width: 193px;
    color: #ff5b2e;
    border-color: #ff5b2e;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__top {
    text-align: center;
}
.pricing__desc {
    margin: 0 auto;
    width: 709px;
}
.pricing__switch-inner {
    user-select: none;
    position: relative;
}
.pricing__switch-inner::after {
    position: absolute;
    content: url(../img/pricing-decor-01.svg);
    top: -18px;
    right: -105px;
}
.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pricing__switch-label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid #ff5b2e99;
    padding: 0 40px;
}
.pricing__switch-label::before {
    content: "";
    width: 140px;
    height: 100%;
    background: #ff5b2e;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 2s;
}
.pricing__switch-value {
    z-index: 1;
    color: #fff;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pracing-item {
    border-radius: 20px;
    padding: 30px 28px;
    background: #fff;
    width: 302px;
    height: 465px;
}
.pracing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
.pracing-item__heading {
    margin-top: 8px;
}
.pracing-item__price {
    margin-top: 24px;
    color: var(--color-primary-title);
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}
.pracing-item__list {
    margin-top: 24px;
}
.pracing-item__item {
    color: var(--color-primary-item);
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}
.pracing-item__item::before {
    content: url(../icons/pracing-check.svg);
    margin-right: 14px;
}
.pracing-item__item + .pracing-item__item {
    margin-top: 18px;
}
.pracing-item__btn {
    margin-top: 22px;
    cursor: pointer;
    width: 246px;
    color: #ff5b2e;
    background: #fff;
    border-radius: 99px;
    height: 44px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}
.pracing-item__btn:hover {
    background: #ff5b2e;
    color: #ffffff;
}

/* Review */
.review {
    background: #fffaf5;
    padding: 53px 0;
    margin-bottom: 77px;
}
.review__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 44px;
}
.review__list {
    display: flex;
}
.review__content {
    margin: 0 auto;
    overflow: hidden;
}
.review__media {
    width: 274px;
    height: auto;
    border-radius: 137px;
    position: relative;
    overflow: hidden;
}
.review__media::after {
    content: "";
    display: block;
    inset: auto 0 0 0;
    height: 82%;
    border-radius: 137px;
    position: absolute;
    background: #ffda54;
}
.review__item {
    display: flex;
    gap: 115px;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}
.review__img {
    display: block;
    width: 100%;
    height: 427px;
    z-index: 99;
    position: relative;
}
.review-item__content {
    margin-top: 65px;
}
.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border: 1px solid #ffd1c4;
    border-radius: 50%;
    background: transparent;
    color: #ff5b2e;
}
.review__control:hover {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
}
.review-item__heading {
    color: var(--color-primary-title);
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.review-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
    width: 553px;
}

.review-item__author {
    margin-top: 34px;
    display: flex;
    align-items: center;
    color: #282828;
    font-family: Sora, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
.review-item__author::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
    margin-right: 8px;
    border-radius: 1px;
}
.review__dots {
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
}
.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
}
.review__dot-active {
    height: 8px;
    width: 24px;
    background: #ff5b2e;
    border-radius: 10px;
}

/* Blog */
.blog {
    padding-bottom: 131px;
}
.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__desc {
    color: var(--color-primary-item);
    font-size: 1.6rem;
    font-weight: 400;
    width: 350px;
    line-height: 1.87;
}
.blog__info {
    margin-right: 73px;
}
.blog__btn {
    margin-top: 24px;
    color: #ff5b2e;
    border-color: #ff5b2e;
    width: 182px;
}
.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}
.blog-item__wrap {
    background: #90ccff;
    padding: 24px 0 0 36px;
    border-radius: 24px;
    width: 358px;
    height: 362px;
    position: relative;
}
.blog-item__img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 322px;
    height: 296px;
}
.blog-item__img-time {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}
.blog-item__title {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
    margin-top: 28px;
}
.blog-item__desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    width: 100%;
}
.blog-item:nth-child(2) .blog-item__wrap {
    background: #ff997e;
}
.blog-item:nth-child(3) .blog-item__wrap {
    background: #5bd6e2;
}

/* Footer */
.footer__left {
    padding-top: 114px;
}
.search-form {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 23px;
    border: 1px solid #ff5b2e40;

    width: 268px;
    height: 46px;
    background: #fff;
}
.search-form__input {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
    outline: none;
    padding: 0 22px;
}
.search-form__input::placeholder {
    color: var(--color-primary-item);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}
.search-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    height: 46px;
    border-radius: 50%;
    background: #ff5b2e;
    border: none;
    box-shadow: 0px 15px 28px -7px #ff5b2e40;
    margin-right: -1px;
}
.search-form__submit:hover {
    opacity: 0.6;
    cursor: pointer;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__heading {
    margin-top: 68px;
    color: var(--color-primary-title);
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
}
.soctial-list {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}
.soctial-item {
    padding: 9px;
}
.footer__left {
    background: #fff6ed;
    width: 52%;
}
.footer__right {
    padding-left: 139px;
}
.footer__row {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 137px;
    /* row-gap: 58px; */
}
.footer__list {
    margin-top: 14px;
}
.footer__link {
    display: block;
    text-wrap: nowrap;
}
.footer__link {
    margin-top: 10px;
    color: var(--color-primary-item);
}
.copyright {
    text-align: center;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
    opacity: 0.5;
    margin: 52px 0 48px 0;
}
